<div class="form-container">
  <%= form_with model: Entity.new, url: entities_path(@group), method: :post do |form| %>
    <div class="form-group">
      <%= form.label :group_id, "Select Group" %>
      <%= form.collection_select :group_id, Group.all, :id, :name, prompt: "Select a group", class: "form-control" %>
      <!-- Assuming Group.all fetches all available groups; adjust the collection based on your needs -->
   
    
      <%= form.label :name, "Transaction Name" %>l
      <%= form.text_field :name, class: "form-control" %>
   
      <%= form.label :amount, "Amount" %>
      <%= form.text_field :amount, class: "form-control" %>
      </div>
    <div>
      <%= form.submit "Create a Transaction" %>
    </div>
  <% end %>
</div>
