<div class="row mt-4">
  <div class="col-md-6 offset-md-3">
    <% if flash[:notice] %>
      <div class="alert alert-success">
        <%= flash[:notice] %>
      </div>
    <% end %>
    <%= form_with model: Group.new, url: groups_path, local: true do |form| %>
      <div class="mb-3">
        <%= form.label :name %>
        <%= form.text_field :name, class: "form-control" %>
      </div>
      <div class="mb-3">
        <%= form.label :icon, "put the category URL icon" %>
        <%= form.text_field :icon, class: "form-control" %>
      </div>
      <%= form.submit "Create Category", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
