<h1><%= @group.name %></h1>
<% total = @group_totals[@group.id] || 0 %>
Total Amount: <%= number_to_currency(total) %>
<ul>
  <% @group.entities.each do |entity| %>
    <li>
      <strong><%= entity.name %></strong>
      <p><%= entity.created_at.strftime("%B %d, %Y %H:%M:%S") %></p>
      Amount: <%= number_to_currency(entity.amount) %>
    </li>
  <% end %>
</ul>

<% if @group.entities.empty? %>
  <p>No transactions found for this group.</p>
  <%= link_to "Add Transaction", new_group_entity_path(@group), class: "btn btn-primary" %>
<% else %>
  <%= link_to "Add a transaction", new_group_entity_path(@group) %>
<% end %>

